<html>
    <head>
      <style>
        p {
            color: grey;
        }
      </style>
    </head>
    <body>
        <h1>Sponsorship Accepted</h1>
        <p>
            This is the body of the email
        </p>
    </body>
</html>