Dear Taliflo Community,

The business <a href='<%="#{Rails.application.config.front_end_base_url}/business/#{@business.id}"%>'><%=@business.company_name%></a>
is requesting to sponsor <a href='<%="#{Rails.application.config.front_end_base_url}/cause/#{@cause.id}"%>'><%=@cause.company_name%></a>.

Please contact the Taliflo administrator to create the sponsorship.

With love.

Taliflo Inc.