<html>
<head>

</head>
<body>
<h1>Sponsorship Cancelled</h1>
<p>
  The cause <%=@sponsorship.cause.company_name%> has cancelled sponsorship from <%=@sponsorship.business.company_name%>.
</p>
</body>
</html>


